<h3> Select Provice, Distric, Area</h3>

<div *ngIf="provinces.length != 0">
  <p>select Province</p>
  <select (change)="selectProvince($event)">
    <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
  </select>
</div>

<div *ngIf="districs.length != 0">
  <p>select District</p>
  <select (change)="selectDistrict($event)">
    <option *ngFor="let distric of districs" [value]="distric">{{distric}}</option>
  </select>
</div>

<div *ngIf="areas.length !=0">
  <p>select Area</p>
  <select (change)="selectArea($event)">
    <option *ngFor="let area of areas" [value]="area">{{area}}</option>
  </select>
</div>